*{
    padding:0px;
    margin:0px;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    display: flex;
}
body{
    border: 2px solid black;
}
#content, h2, p{
    display: inline-block;
    padding:20px;
}

button{
    padding: 10px;
    background-color: goldenrod;
}

.boxshade{
    box-shadow: 2px 2px black;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}
